<phpunit bootstrap="tests/includes/bootstrap.php">
    <testsuites>
        <testsuite name="Search API Elasticsearch">
            <directory>tests/phpunit</directory>
            <directory>modules/elastica/tests/phpunit</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="REMOTE_ADDR" value="127.0.0.1" />
    </php>
    <filter>
        <whitelist>
            <directory>./build/sites/all/modules/search_api_elasticsearch</directory>
            <exclude>
                <directory>./build</directory>
                <directory>./build/sites/all/modules/search_api_elasticsearch/tests/phpunit</directory>
                <directory>./build/sites/all/modules/search_api_elasticsearch/modules/elastica/tests/phpunit</directory>
                <directory>./tests/phpunit</directory>
                <directory>./modules/elastica/tests/phpunit</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
