<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Search API Elasticsearch">
          <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
          <directory>./</directory>
          <exclude>
            <directory>./tests</directory>
            <directory>./vendor</directory>
          </exclude>
        </whitelist>
    </filter>
</phpunit>
